---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

# Updates Python dependencies and raises a pull request with changes
name: 'Dependencies Updates'

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 1 * *'
  push:
    branches:
      - 'main'
      - 'master'
    paths:
      - '**'
      - '!.github/**'
      - '!.*'
      - '!pdm.lock'
      - '!tox.ini'

env:
  python-version: 3.11

permissions: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  python-dependencies:
    name: 'Dependencies Updates'
    runs-on: 'ubuntu-latest'
    permissions:
      # IMPORTANT: mandatory to raise the PR
      id-token: write
      pull-requests: write
      repository-projects: write
      contents: write
    timeout-minutes: 15

    steps:
      # Harden the runner used by this workflow
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      # yamllint disable-line rule:line-length
      - uses: lfreleng-actions/python-dependencies-update-action@f81d67225c672cddbe56d8234b69868a797c75e7 # v0.1.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
